:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: none;
    transition: .2s linear;
    background-color: #010103;
    font-family:"Abril Fatface", cursive;
    scroll-behavior: smooth;
}

/*Interface header*/
.header{
    background-color: var(--bg);
    padding: 25px;
    align-items: center;
    border-bottom: .2rem solid var(--main-color);
}

.header #logo img{
    margin-top: 13px;
    margin-left: 15px;
    height: 32px;
}

.header #menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:1rem;

}

.header #menu a{
    padding:.7rem 2rem;
    color:#fff;
    border:10px;
    font-size: 1.5rem;
    border-radius: 20%;
    text-decoration: none;
}

.header #menu a:hover{
    color:var(--main-color);
}

.header .btn-group{
    background-color: black;
}

.header .icons{
    font-size: 25px; 
    display: flex;
    align-items: center;
}




/*
.header .icons{
    margin-top: 10px;
    margin-right: 15px;
    font-size: 15px; 
    color: white;
}
*/
.header .icons div:hover{
    color:var(--main-color);
}

/*--------------------------------------------*/

/*Interface Bienvenu*/


.main h1{
    text-align: center;
    padding: 20px;
    font-size: 6rem;
    background: linear-gradient(to right,gold,white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about .row{
    padding: 2%;
    border: .2rem solid var(--main-color);
    border-radius: 2% ;
}



.about .row .carousel-bienvenu{
    height: 50px;
}

.about .row img{
    border: var(--border);
    border-radius: 5%;
}

.about .row .content{
    text-align: center;
    margin-top: 20%;
    font-size: 18px;
    color: white;
    margin-left: 20%;
}
.about .row .content:hover{
    color: var(--main-color);
}






/*--------------------------------------------*/



/*--------------------------------------------*/