:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: none;
    transition: .2s linear;
    font-family:"Abril Fatface", cursive;
    scroll-behavior: smooth;
}


/*Interface Bienvenu*/

.main{
    width: 100%;
    background-color: #010103;
    padding: 0;

}
.home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(../image/home-test.png) no-repeat;
    background-size: cover;
    background-position: center;
}



.home h1{
    text-align: center;
    padding: 20px;
    font-size: 6rem;
    color: white;
    z-index: 100;
}

.home a{
    gap: 15px;
    background-color: var(--main-color);
    color: white
}

.about .row{
    width: 100%;
    padding: 100px 300px;
}

#map{
    display: block;
    margin: 25px auto 0;
    text-align: center;
    border-radius: 5%;
    border: var(--border);
}


.about .row #carousel-bienvenu{
    height: 70px;
    float:left;
    width:50%;
}

.about .row .content{
text-align: center;
width:50%;
float:right;
padding: 0 25px;
}

.about .row .content h3{
    font-family: Fatface;
    font-size: 50px;
    text-align: center;
    line-height: 44px;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    padding: 25px;
}

.about .row .content h3 #titre{
    color: var(--main-color);
    text-transform: uppercase;
}

.about .row .content p{
    font-family: Fatface;
    font-size: 20px;
    padding: 25px 0px;
    color: white;
    text-align:justify;
    line-height: 30px;
}

.about .row .content p #signature{
    padding: 25px 0;
    float: right;

}


/*--------------------------------------------*/

/*---------------Inscription------------------*/

#signin{
    background-color: var(--bg);
    height: 550px;
}

#inscription h1{
text-align: center;
color: white;
padding: 50px 0;
margin-bottom: 2rem;
font-size: 50px;
}


#formulaire label{
    color: white;
    font-size: 25px;
}

#formulaire button{
    margin: 25px;
    color: white;
    border-color: white;
}

#formulaire button:hover{
    background-color: var(--main-color);
}
/*--------------------------------------------*/

/*---------------Inscription------------------*/

#signin{
    background-color: var(--bg);
    height: 550px;
}

#inscription h1{
text-align: center;
color: white;
padding: 50px 0;
margin-bottom: 2rem;
font-size: 50px;
}


#formulaire label{
    color: white;
    font-size: 25px;
}

#formulaire button{
    margin: 25px;
    color: white;
    border-color: white;
}

#formulaire button:hover{
    background-color: var(--main-color);
}

@media (max-width:1000px){

    html{
        font-size: 55%;
    }
    .header nav{
        height: 300px;
    }

    .header nav #logo{
        display: none;
    }

    .header nav ul li a{
        font-size: 25px;
        padding:20px 0;
        text-transform: capitalize;
    }

    .header nav #icons{
        width: 100%;
        height: 50px;
        float: none;
        padding: 25px 0;
        right:50%;
        left: 50%
      }

      .home{
        height: 100%;
        display: flex;
        align-items: center;
        background:url(../image/home-test.png) no-repeat;
        background-size: cover;
        background-position: center;
    }

    section{
        width: 100%;
    }
    
    .about .row{
        width: 100%;
        --bs-columns: 12;
    }

    .about .row #carousel{
    display: none;
    }

    .about .row .content{
        width: 100%;
    }

    .about .content #text h3{
        font-size: 25px;
    }

    #formulaire button{
        font-size: 16px;
    }
}